@mixin main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-roboto;
}

@mixin scaling($size) {
    -webkit-transform: scale($size);
	-moz-transform: scale($size);
	-o-transform: scale($size);
	-ms-transform: scale($size);
	transform: scale($size);
}

@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

@mixin headings {
    font-family: $font-fredoka;
    font-weight: 400;
    @content;
}